body .services-parent .service-box img {
  right: unset;
  left: 75%;
}

.textarea {
    resize: none;
    color: #161616;
    background-color: rgba(255, 255, 255, 0);
    display: block;
    font-weight: normal;
    margin-top: 5px;
    border: none;
    font-size: 18px;
    text-align: right;
  }


  .number{
      background-color: rgba(255, 255, 255, 0);
      font-size: 25px;
      border: none;
      width: 60px;
  }
  
  .btnSave {
    background-color: #001a4b;
    position: relative;
    text-align: center;
    margin: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0); 
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

.exit{

  color: #ffffff;
  position: fixed;
  bottom: 10px;
  float: right;
  left: 94.25%;
  max-width: 50px;
  width: 100%;
  font-size: 16px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: #001a4ba3;
  padding: 0.5px;
  border-radius: 12px;
  z-index: 999;
}
/*On Hover Color Change*/
#myBtn:hover {
  background-color: #3f7bbb;
}


.text1{
min-width: 600px;
margin: 26px;
min-height: 66px;
resize: both;
}


.text2 {
  min-width: 300px;

}
.text3{

  min-width: 300px;
  font-size: 2em;
  color: #0eafed;
  font-weight: 600;
}

.text4{
  min-width: 300px;
  min-height: 195px;
  resize: vertical;


}
.text5{
resize: both;
color: #ffffff;
resize: both;
}

.en{
  text-align: left;
  direction: ltr;

}
.ar{
  text-align: right;
  direction: rtl; 
}
.text6{
  resize: vertical;
  min-width: 95%;
  min-height: 195px;
}