*{
    text-align: left;
    direction: ltr;
}

.slider-content{
    float: right;
    text-align: right;

}
.counting-parent p {
    text-align: center;
}
nav .bottom-nav ul{
    background-color: rgba(255, 255, 255, 0.159);
}
.wh-header .side-title h1{
    border-radius:10px;
    background-color: #115a749f;
}
footer ul li img
{
    float : left ;
}
